.admin-users {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 3em;
  width: 100%;
  max-width: 100vw; /* Ensure it doesn’t exceed viewport width */
  box-sizing: border-box;
  
}

.users-container {
  margin-top: 10vh;
  max-width: 500px; /* Ensure it doesn't exceed screen width */
  box-sizing: border-box; /* Ensure padding doesn't push it out */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.user-row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box; /* Prevent overflow */
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure no overflow here */
}

.user-info p {
  margin: 0;
  font-size: 1.1em;
  padding-right: 1em;
  overflow: hidden; /* Prevent any overflow from text */
}

.user-info button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #0056b3;
}

.user-details {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Consistent spacing between child elements */
  text-align: left;
}

.user-details p {
  margin: 0;
  font-size: 1em;
  text-align: start;
  color: var(--color0);
}

.user-details ul {
  list-style-type: none;
  padding: 0;
}

.user-details li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1em;
}

.user-details .checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  accent-color: #007bff; /* Matches button color */
}

.error-message {
  color: red;
  font-weight: bold;
}

.admin-profile-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 3%;
  border-radius: 50%; 
  
}

.admin-profile-image {

  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin: 0 auto;
}

@media (max-width: 580px) {


  .users-container {
    margin-top: 2vh; /* Reduce top margin for better fit */
  }

}