.admin-setup-container {
  align-items: baseline;
  
}

.admin-setup-title {
  align-self: center;
  margin-bottom: 1em;
}

.admin-setup-subtitle {
  margin-bottom: 10px;
  font-size: larger;
}

.admin-setup-line, .admin-setup-subline, .admin-setup-subline2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

.admin-setup-subline {
  padding-left: 1em;
}

.admin-setup-subline2 {
  padding-left: 2em;
}


.admin-setup-line-text {
  margin-left: 1em;
  font-size: larger;
}