.admin-setup-container {
  align-items: baseline;
  
}

.admin-setup-title {
  align-self: center;
  margin-bottom: 1em;
}

.admin-setup-subtitle {
  margin-bottom: 10px;
}

.admin-setup-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.admin-setup-subline {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5em;
}

.admin-setup-line-text {
  margin-left: 1em;
}