.admin-users {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 3em;
  width: 100%;
  max-width: 100vw; 
  box-sizing: border-box;

}

.muted-users-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.admin-users h2 {
 text-align: center;
 /* margin: 1em 0em 1em 0em; */
width: 90%;
}

.users-container {

  max-width: 500px; /* Ensure it doesn't exceed screen width */
  box-sizing: border-box; /* Ensure padding doesn't push it out */
  overflow-x: auto; 

  margin: auto; /* Vertically and horizontally center child elements */
  /* margin-top: 1em; */
  width: 100%;  /* Full width */
  height: 100%; /* Full height */
}

.user-row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box; /* Prevent overflow */
}

.user-row-social {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box; /* Prevent overflow */
}


.user-row-social-small-img {
  max-height: 4em;
  max-width: 4em;
  margin-right: 20px;

  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  /* transition: transform 0.3s ease; */



}

.user-row-social img:hover {
  cursor: pointer;
}

.user-info {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
justify-content: flex-start;
  align-items: center;
  width: 100%; /* Ensure no overflow here */
}

.user-info svg:hover {
  cursor: pointer;
}

.user-info-buttons {
  display: flex;
  flex-direction: row;
}

.user-info-buttons button {
  background-color: var(--color1);
  color: var(--color9);
  border: 1px solid var(--color9);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1em;
  margin-left: auto;
  margin: 0.5em;
}

.user-info-buttons button:hover {
  background-color: var(--color9);
  color: var(--color1);
  border: 1px solid var(--color9);
}

.user-info p {
  margin: 0;
  font-size: 1.1em;
  padding-right: 1em;
  overflow: hidden; /* Prevent any overflow from text */
  color: var(--color0);
}

.user-info button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1em;
  margin-left: auto;
}

.user-info-expanded {

}

.users-all-picture-large {
  width: 40vw;  
  height: 40vw;
  border-radius: 50%;
  border: solid 1px var(--color0);
  object-fit: cover;
  object-position: center;
  max-width: 300px; 
  max-height: 300px;
}

.large-picture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}



/*Override user-row-social img*/
.large-picture img { 
  max-height: 300px;
}



button:hover {
  background-color: #0056b3;
}

.user-details {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Consistent spacing between child elements */
  text-align: left;
}

.user-details p {
  margin: 0;
  font-size: 1em;
  text-align: start;
  color: var(--color0);
}

.user-details ul {
  list-style-type: none;
  padding: 0;
}

.user-details li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1em;
}

.user-details .checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  accent-color: #007bff; /* Matches button color */
}

.error-message {
  color: red;
  font-weight: bold;
}

.admin-profile-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 3%;
  border-radius: 50%; 
  
}

.admin-profile-image {

  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin: 0 auto;
}

/* Styling for Filter */

.filter-admin-users {
  background-color: pink;
}

/* Delete user button container */
.delete-user {
  display: flex;
  justify-content: center;
}


@media (max-width: 580px) {

.user-info {
 /* justify-content: center; */
}

.user-info-buttons {
  justify-content: center;
}

  .user-row-social {
    flex-direction: row; 
  }
  .user-info-buttons button {
  /* margin-left: 0; */
  }
}

