.app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Hamburger Menu */
.hamburger {
  font-size: 20px;
  background: none;
  color: var(--color9);
  /* Default color (when navbar is closed) */
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 6;
  display: block;
  /* Ensure the button is visible */
}


/* When the navbar is open, change color */
.hamburger.open {
  color: var(--color1);
  /* Color when navbar is open */
  z-index: 6;
}

/* When the navbar is closed, revert to color9 */
.hamburger.closed {
  color: var(--color9);
  /* Color when navbar is closed */
}


/* Navbar Styles */


/* Navbar open state */
.navbar.open {
  transform: translateX(0);
  /* Move the navbar into view */
}


.nav-item {
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0% 5% 0%;
  color: var(--color1);
}


.nav-item:hover {
  background-color: var(--color6);
  color: var(--color9);
  font-weight: bold;
}

.nav-item-logo {
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0% 5% 0%;
  color: var(--color1);
}


.nav-item-logo:hover {

}



.subitem {
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0% 5% 0%;
  color: var(--color1);
}

.subitem:first-child {
  margin-top: 0;
  /* removes margin-top for the first nav item */
}


.subitem:hover {
  background-color: var(--color6);
  color: var(--color9);
  font-weight: bold;
}

/* Ensure the container has position relative and a fixed size */
.profile-image-container {
  position: relative;
 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 3%;
}

/* Style the profile image */
.profile-image-default {
  object-fit: cover; 
  border-radius: 50%;
  cursor: pointer;  
  transition: transform 0.3s ease; 
}


.profile-image-default:hover {
  transform: scale(1.1); 
  filter: brightness(1.3);
}

.profile-image {
 width: 90%;
 height: 90%;
  object-fit: cover; 
  border-radius: 50%;
  cursor: pointer;  
  transition: transform 0.3s ease; 
}


.profile-image:hover {
  transform: scale(1.1); 
  filter: brightness(1.3);
}


.body {
  display: flex;
  flex: 0 0 90%;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  overflow-y: auto;
  /* Allow body to scroll normally */
  box-sizing: border-box;
}

/* Body squeezed when navbar is open */
.body.squeezed {
  margin-left: 250px;
  /* Adjust based on navbar width */
  overflow: hidden;
  /* Disable body scroll while navbar is open */
}

.footer {
  display: flex;
  flex: 0 0 10%;
  justify-content: center;
  align-items: center;
  background-color: var(--color6);
}

/* Mobile Styles */
@media (max-width: 580px) {
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 4;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
    background-color: var(--color9);
    white-space: nowrap;
  }

  .navbar.open {
    left: 0;
    padding-top: 3em;
    /*To leave space to show hamburger*/       
padding-bottom: 2em;
  }

  .nav-item {
    margin-top: 5%;
  }


  .nav-item-with-dropdown {
    margin-top: 5%;
  }

  .hamburger {
    display: block;
  }

  .profile-image {
  max-height: 4.5em;
   }


}

/* Tablet Styles */
@media (min-width: 581px) and (max-width: 1024px) {
  .navbar {
    width: 25%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 4;
    flex-direction: column;
    min-height: 90vh;
    height: 90%;
    overflow-y: auto;
    background-color: var(--color9);
    white-space: nowrap;

  }

  .navbar.open {
    left: 0;
    padding-top: 3em;
    /*To leave space to show hamburger*/
    padding-bottom: 2em;
  }

  .nav-item, .nav-item-with-dropdown  {
    margin-top: 10%;
  }


  .body.squeezed {
    margin-left: 25%;
  }

  .footer.squeezed {
    margin-left: 0;
  }

  .hamburger {
    display: block;
  }

  .profile-image {
    max-height: 6em;
     }
}

/* Desktop Styles */
@media (min-width: 1025px) {


  .body {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
    overflow-y: auto;
  }

  .navbar {

    background-color: var(--color9);
    height: 10vh;
    display: flex;
    flex-direction: row;
    z-index: 4;
  }

  .nav-item {
    color: var(--color1);
    flex: 1;
    padding: 0;
    height: 100%;

  }

  .nav-item-logo {
    color: var(--color1);
    flex: 1;
    padding: 0;
    height: 100%;
  }


  .dropdown-title-open {
    background-color: var(--color1);
    color: var(--color9);
  }

  .nav-item:hover {
    background-color: var(--color6);
  }

  .nav-item-with-dropdown {

    flex: 1;
    padding: 0;
    height: 100%;
  }

  .subitem {
    color: var(--color0);
    background-color: var(--color6);
  }

  .subitem:hover {
    color: var(--color1);
    background-color: var(--color9);
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .body.squeezed {
    margin-left: 250px;
    /* Adjust content when navbar is open */
  }
}