.app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Hamburger Menu */
.hamburger {
  font-size: 20px;
  background: none;
  color: var(--color9);
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  display: none;
}

/* Navbar Styles */




/* Navbar open state */
.navbar.open {
  transform: translateX(0);
  /* Move the navbar into view */
}


.nav-item {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    }
  
    .nav-item:hover {
  background-color: var(--color1);
  color: var(--color9);
    }
  



.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  background-color: var(--color1);
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  /* Default no margin */
  padding-top: 70px;
  /* Make space for navbar */
}

/* Body squeezed when navbar is open */
.body.squeezed {
  margin-left: 250px;
  /* Adjust based on navbar width */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  background-color: var(--color6);
}

/* Mobile Styles */
@media (max-width: 580px) {

  .body {
    flex: 0 0 90%;
    margin: 0;
  }

  .footer {
    flex: 0 0 10%;
  }

  .hamburger {
    display: block;
  }

  .navbar {
    
    display: flex;
    background-color: var(--color1);
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--color9);
    color: var(--color1);



    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left 0.3s ease-in-out;
    /* padding: 10% 0% 10% 0%; */
    justify-content: space-between; 
  }

  .navbar.open {
    left: 0;
    /* Slide in navbar when open */
  }



  

  .body.squeezed {
    margin-left: 0;
    /* Do not squeeze body on small screens */
  }

}

/* Tablet Styles */
@media (min-width: 581px) and (max-width: 1024px) {


  .body,
  .footer {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
  }

  .body {
    flex: 0 0 90%;
    margin: 0;
  }

  .footer {
    flex: 0 0 10%;

  }

  .body.squeezed {
    margin-left: 20%;
  }

  .footer.squeezed {
    margin-left: 0%;
  }

  .hamburger {
    display: block;
  }

  .navbar {
   
    display: flex;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--color9);
    color: var(--color1);


    position: fixed;
    flex-direction: column;
    top: 0;
    left: -100%;
    height: 90%;
    width: 25%;
    transition: left 0.3s ease-in-out;
    justify-content: space-between;
    align-items: center;
    /* padding: 5% 0% 5% 0%; */
  }

  .navbar.open {
    left: 0;
  }


}

/* Desktop Styles */
@media (min-width: 1025px) {


  .body {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
    overflow-y: auto;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .navbar {
 
  
    align-items: center;
    
   
    background-color: var(--color1);
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
    height: 60px;
    /* Adjust height */
    background-color: var(--color9);
    color: var(--color1);


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;


  }


  .body.squeezed {
    margin-left: 250px;
    /* Adjust content when navbar is open */
  }
}