.app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Hamburger Menu */


.hamburger {
  position: fixed;
  left: 0.5rem;
  z-index: 1001;
  background: none;
  border: none;
  color: var(--color9);
  font-size: 2rem;
  cursor: pointer;

}

.hamburger-open {
  color: var(--color1);
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 10vh;
  background-color: var(--color9);
  color: white;
  display: flex;
  align-items: center;
}


.navbar.open {
  transform: translateX(0);
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5% 0% 5% 0%;
  color: var(--color1);
  cursor: pointer;
  width: 100%;
}

.nav-item:hover {
  background-color: var(--color6);
  color: var(--color9);
  font-weight: bold;
}

.nav-item-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5% 0% 5% 0%;
  color: var(--color1);
  cursor: pointer;
}

.nav-item-logo:hover {}

.subitem {
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5% 0% 5% 0%;
  color: var(--color1);
  cursor: pointer;
}

.subitem:first-child {
  margin-top: 0;
}

.subitem:hover {
  background-color: var(--color6);
  color: var(--color9);
  font-weight: bold;
}

/* Profile Image */

.profile-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 70px;
  max-height: 70px;
}

.profile-image-default {
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-image-default:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}

.profile-image {

  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  max-width: 100%;
  max-height: 100%;
}

.profile-image:hover {
  /* transform: scale(1.1); */
  filter: brightness(1.3);
}

.body {
  /* padding: 1em; */
  display: flex;
  flex-direction: column;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0%;
}

.body-squeezed {
  padding: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.container-inside-body {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  height: 100vh;
}

.footer {
  padding: 1em;
  background-color: var(--color9);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  margin-top: auto;
}

/* Button red */

.button-red {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-red:hover {
  background-color: darkred;
  transform: scale(1.05);
}

.button-red:active {
  background-color: firebrick;
  transform: scale(1);
}

.button-red:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
}

/* Green button */

.button-green {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-green:hover {
  background-color: darkgreen;
  transform: scale(1.05);
}

.button-green:active {
  background-color: forestgreen;
  transform: scale(1);
}

.button-green:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

/* Blue button */

.button-white {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-white:hover {
  background-color: darkgrey;
  transform: scale(1.05);
  border: none;
  color: black;
}

.button-white:active {
  background-color: royalblue;
  transform: scale(1);
}

.button-white:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
}


.button-white:disabled {
  background-color: #f0f0f0;
  color: #a9a9a9;
  border-color: #dcdcdc;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Mobile Styles */
@media (max-width: 580px) {

  .navbar {
    width: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .navbar-open {
    width: 100%;
    height: 100%;
    padding-top: 3em;
    padding-bottom: 2em;
    z-index: 1001;
  }

.body {
  position: relative;
  padding: 0.5em;
  padding-top: 2.5em;  
  /* margin-left: 2.5em; */
}

.hamburger-container {
  width: 100%;
  background-color: #ececec ;
  position: fixed;  
  z-index: 1000;
}

.hamburger {
  position: relative;
}

  .body-squeezed {
    display: none;
  }

  .footer-squeezed {
    display: none;
  }


  .nav-item {
    padding-top: 5%;
  }

  .nav-item-with-dropdown {
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .profile-image {
    max-height: 4.5em;
  }
}

/* Tablet Styles */
@media (min-width: 581px) and (max-width: 1024px) {

  .navbar {
    width: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .navbar-open {
    width: 25%;
    height: 100%;
    padding-top: 3em;
    padding-bottom: 2em;
  }

  .nav-item,
  .subitem {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
  }

  .nav-item-with-dropdown {
    width: 100%;
  }
  
  .profile-image {
    max-height: 6em;
  }

  .body {
    margin-left: 0%;
    margin-top: 0vh;
    padding: 0.5em;
    padding-left: 2.5em;
  }

  .body-squeezed {
    margin-left: 25%;
    margin-top: 0vh;
  }

  .footer-squeezed {
    margin-left: 25%;
  }

}

/* Desktop Styles */
@media (min-width: 1025px) {

.body {
  margin-top: 10vh;
  padding: 1em;
}

  .nav-item {
    flex: 1;
    height: 100%;
    padding: 0;
    color: var(--color1);
  }

  .nav-item-logo {
    flex: 1;
    height: 100%;
    padding: 0;
    color: var(--color1);
  }

  .dropdown-title-open {
    background-color: var(--color1);
    color: var(--color9);
  }

  .nav-item:hover {
    background-color: var(--color6);
  }

  .nav-item-with-dropdown {
    flex: 1;
    height: 100%;
    padding: 0;
    width: 100%;
  }

  .subitem {
    color: var(--color0);
    background-color: var(--color6);
  }

  .subitem:hover {
    color: var(--color1);
    background-color: var(--color9);
  }

  .hamburger {
    display: none;
  }

}