/* Base styles for components that overlay the entire viewport, covering the navigation bar and the footer */
.overlay-component {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 0;
  width: 100%;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color13);
  color: white;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1em;
}

/* Styles for content inside the overlay */
.centered-section {
  width: 100%;
  box-sizing: border-box;
  max-width: 350px;
  flex-direction: column;
  align-items: center;
  background-color: var(--color9);
  margin: 1em;
  padding: 2em;
  display: flex;
  overflow-y: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5%;
}

/* Styles for the overlay when squeezed (adjusts layout on wider screens) */
.overlay-squeezed {
  margin-left: 25%;
  width: calc(100% - 25%);
  overflow: hidden;
  height: calc(100% - 10%);
  margin-bottom: 10%;
}

/* Close button styles */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 24px;
  background: none;
  border: none;
  color: var(--color1);
  cursor: pointer;
  transition: color 0.3s, transform 0.2s ease-in-out;
}

.close-button:hover {
  color: var(--color7);
  transform: scale(1.1); /* Subtle zoom effect */
}

/* Media queries for responsive design */
@media (max-width: 580px) {
  .overlay-component {
    height: calc(100% - 10%);
    margin-bottom: 0%;
  }
}

@media (max-width: 1024px) {
  .overlay-component {
    top: 0%;
  }
}
