.post-interactions {
  margin-top: 0.5em;
}

.post-interactions-top {
  margin-top: 1em;
  border-bottom: 1px solid darkgray;
  padding: 0.5em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-interactions-bottom {
  padding: 0.5em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-interactions-top-left-reaction {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.post-interactions-top-left-reaction:hover {
cursor: pointer;
}

.post-interactions-top-right-comments {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.post-interactions-top-right-comments:hover {
cursor: pointer;
} 

.post-interactions-bottom-left-reaction {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.post-interactions-bottom-left-reaction:hover {
cursor: pointer;
} 

.post-interactions-bottom-right-comments {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.post-interactions-bottom-right-comments:hover {
 cursor: pointer;
}

.centered-container-button-close {
  display: flex;
  justify-content: end;
}

.centered-container-post {
  background-color: var(--color14);
  padding: 10px;
}

.post-comment {
  background-color: #999999;
  color: var(--color1);
  border-radius: 4px;
  text-align: left;
  width: fit-content;
  max-width: 100%; 
  padding: 5px;
  margin: 5px 0px;
}

.post-comment-date {
  width: fit-content;
  color: var(--color1);
  font-size: smaller;
}