.profile-container {

  /* For children of body I've noticed that if height: 100% and justify-content: center, on very short screens, content overflows.
Using margin-top, margin-bottom: auto, it's fixed
 */

  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color1);
  transition: margin-left 0.3s ease-in-out;
  overflow-y: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* border: 6px solid purple; */

  padding: 1em 0em 1em 0em;
}



.profile-details {
  margin: 2em 0 2em 0;
}

.profile-picture {


  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 3%;



}

.profile-picture img {

  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  max-width: 150px;
  max-height: 150px;
}


.picture-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-actions {
  margin: 2em 0em 2em 0em;
  text-align: center;
}

.profile-actions-button {
  margin: 0em 0.5em 1em 0.5em;
  padding: 1em;
}

.update-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-input>* {
  margin-bottom: 1em;
  width: 100%;
}

.update-input input {
  padding: 1em;
}

.update-input button {
  max-width: 100px;
}

.delete-confirmation {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.delete-confirmation>* {
  margin-bottom: 1em;
}

.delete-confirmation p {
  padding: 1em;
  color: red;
  font-weight: bolder;
  font-size: larger;
}

.delete-confirmation button {
  padding: 1em;
  max-width: 150px;
}

@media (max-width: 580px) {
  .profile-actions {
    margin: 2em 0em 2em 0em;
    display: flex;
    flex-direction: column;

  }

  .profile-actions-button {
    margin-bottom: 1em;
  }

}

@media (min-width: 581px) and (max-width: 1024px) {
  .profile-actions {
    margin: 2em 0em 2em 0em;


  }

  .profile-actions-button {}

}