.profile-container {

/* For children of body I've noticed that if height: 100% and justify-content: center, on very short screens, content overflows.
Using margin-top, margin-bottom: auto, it's fixed
 */

   width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color1);
  transition: margin-left 0.3s ease-in-out;
  overflow-y: auto;
  margin-top: auto;
  margin-bottom: auto; 
border: 6px solid purple;

padding: 1em 0em 1em 0em;
} 



.profile-details {

}

.profile-picture {


   position: relative;
 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 3%; 



}

.profile-picture img {

  object-fit: cover; 
  border-radius: 50%;
  cursor: pointer;  
  transition: transform 0.3s ease; 
  max-width: 150px; 
  max-height: 150px; 
}


.picture-modal {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.profile-actions {

}

.profile-actions-button {

}

.update-input {

}

.update-input input {

}

.update-input button {

}
