/* Styles for the reset password form */
.section-reset {



  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color1);
  transition: margin-left 0.3s ease-in-out;
  overflow-y: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* border: 6px solid purple; */

  padding: 1em 0em 1em 0em;


}

.form-reset {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.label-reset {
  font-size: 16px;
  color: #555;
}

.form-reset input[type="email"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.form-reset input[type="email"]:focus {
  border-color: var(--color13);
  box-shadow: 0 0 5px rgba(255, 140, 0, 0.3);
}

.button-reset {
  display: block;
  width: 50%;
  margin: 0.5em auto 0;
  padding: 12px;
  background-color: var(--color9);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button-reset:hover {
  background-color: var(--color13);
}

p {
  font-size: 14px;
  text-align: center;
  color: #888;
}

.p-reset {
  margin-top: 1em;
}

.a-reset {
  color: var(--color9);
  text-decoration: none;
}

.a-reset:hover {
  text-decoration: underline;
}

/* Error and success message styles */
.errmsg {
  color: #ff0000;
  background-color: #fdd;
  border: 1px solid #f99;
  padding: 8px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
}

.scsmsg {
  color: #28a745;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 8px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
}

.offscreen {
  display: none;
}
