.admin-users {
    overflow-x: auto;  /* Allow horizontal scrolling on smaller screens */

    position: relative;
    padding-top: 20px; /* Give some space to make room for the centered header */
}


.table-wrapper {
    margin-top: 0.5em;  /* Add margin to give space for the header */
    overflow-x: auto;  /* Enable horizontal scrolling for the table */
    padding-right: 10px;  /* Add padding to the right to avoid scroll bar cutting off content */
  }

  .table-wrapper thead {
 position: sticky;
    top: 0;              
    background-color: #f4f4f4; 
    z-index: 1;        
  }

.admin-users h2 {
    text-align: center;  /* Center the h2 */
    /* position: absolute;   */
    top: 1em;
    left: 50%;
    /* transform: translateX(-50%);   */
    z-index: 1;  /* Ensure it is on top of the table */
    width: 100%;  /* Make sure it's full width */
  } 

.admin-users table {
    width: 100%;
    min-width: 600px; /* Ensure the table has enough width to scroll if necessary */
    padding: 1em;
    text-align: center;
    border-collapse: collapse; /* Ensure borders are not doubled */
}

.admin-users th, .admin-users td {
    padding: 0.5em; /* Adjust padding for better spacing */
    border-bottom: 1px solid black;
}

@media (max-width: 580px) {
    .admin-users {
        overflow-x: auto;  /* Allow horizontal scrolling on smaller screens */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
    }

    .admin-users table {
        width: auto; /* Allow table to shrink or grow depending on content */
        min-width: 600px; /* Prevent the table from shrinking too much */
    }

    .admin-users th, .admin-users td {
        padding: 0.5em; /* Slightly increase padding for better readability */
    }
}

