
.signup-title {
  display: flex;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.centered-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form label {
  margin-top: 0.5em;
}

.signup-form input {
  margin: 0.5em 0em 0.5em 0em;
}

.input-field {
  height: 2.5em;
}

.signup-form p {
  margin-bottom: 2em;
}

.valid {
  color: var(--color3);
  margin-left: 0.25rem;
}

.invalid {
  color: var(--color2);
  margin-left: 0.25rem;
}

.errmsg {
  background-color: var(--color11);
  color: var(--color2);
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: var(--color0);
  color: var(--color1);
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  display: none;
}

.hide {
  display: none;
}

.have-an-account {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.have-an-account p {
  margin: 0.2em;
}

.signup-success {
  text-align: center;
  color: var(--color1);
  padding: 2em;
  background-color: var(--color7);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.success-message h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.success-message p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.success-message a {
  font-weight: bold;
  color: var(--color1);
}

.success-message a:hover {
  text-decoration: underline;
}

.trust-device {
  margin: 1em 0em 1em 0em;
}

.trust-device input {
 margin-right: 0.5em;
}

/* Sign Up, Sign In, Reset buttons */
.have-an-account a {
  color: var(--color1); 
}

.button-auth {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background-color: #1E90FF; /* DodgerBlue background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-auth:disabled {
  pointer-events: none;
  opacity: 0.6; /* Optional: visually indicate it's disabled */
  cursor: not-allowed; /* Optional: change cursor to indicate it's not clickable */
}

.button-auth:hover {
  background-color: #1C86EE; /* Slightly darker blue */
  transform: translateY(-2px);
}

.button-auth:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.7); /* Blue focus ring */
}

.button-auth:active {
  background-color: #1874CD; /* Even darker blue */
  transform: translateY(0);
}

.button-auth:disabled {
  background-color: #555; /* Neutral gray for disabled state */
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 300px) {
.have-an-account {
  flex-direction: column;
}

.line a {
  margin-left: 0em;
}

}