.centered-container {
  padding: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Signup Title */
.signup-title {
  display: flex;
  justify-content: center;
  color: var(--color1); 
}

/* Signup Form */
.signup-form, .restore-action {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form label {
  margin-top: 0.5em;
  color: var(--color1); 
}

.signup-form input {
  margin: 0.5em 0;
}

.input-field {
  height: 2.5em;
}

.input-field:focus {
  outline: none;
  border-color: #1E90FF; /* Make border color change smooth */
  box-shadow: none; /* Remove unnecessary box-shadow to avoid layout shift */
}

.signup-form p {
  margin-bottom: 2em;
}

/* Centered Section */
.centered-section {
  width: 100%;
  box-sizing: border-box;
  max-width: 350px;
  flex-direction: column;
  align-items: center;
  background-color: var(--color9);
  margin: auto;
  padding: 2em;
  display: flex;
  overflow-y: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5%;
}

/* Validation Styles */
.valid {
  color: var(--color3);
  margin-left: 0.25rem;
}

.invalid {
  color: var(--color2);
  margin-left: 0.25rem;
}

/* Error Messages */
.errmsg {
  background-color: var(--color11);
  color: var(--color2);
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Instructions */
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: var(--color0);
  color: var(--color1);
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

/* Hidden Elements */
.offscreen,
.hide {
  display: none;
}

/* Account Information */
.have-an-account {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.have-an-account p {
  margin: 0.2em;
}

.have-an-account a {
  color: var(--color1);
}

/* Signup Success */
.signup-success {
  text-align: center;
  color: var(--color0);
  padding: 2em;
  /* background-color: var(--color3); */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
}

.success-message h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;

}

.success-message p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--color0);
}

.success-message a {
  font-weight: bold;
  color: var(--color0);
}

.success-message a:hover {
  text-decoration: underline;
}

.success-message-green {
  background-color: var(--color3);
  color: var(--color0);
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

/* Trust Device */
.trust-device {
  margin: 1em 0;
  color: var(--color1);
}

.trust-device input {
  margin-right: 0.5em;
}

/* Authentication Buttons */
.button-auth {
  width: 50%;
  margin: 1em auto;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background-color: #1E90FF; /* DodgerBlue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-auth:hover {
  background-color: #1C86EE; /* Darker blue */
  transform: translateY(-2px);
}

.button-auth:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.7);
}

.button-auth:active {
  background-color: #1874CD; /* Even darker blue */
  transform: translateY(0);
}

.button-auth:disabled {
  background-color: #555; /* Gray for disabled state */
  cursor: not-allowed;
  opacity: 0.6;
}

/* Resend verification email  */

/* Authentication Buttons */
.button-resend-verification {
width: 100%;
}

/* Responsive Styles */
@media (max-width: 300px) {
  .have-an-account {
    flex-direction: column;
  }

  .line a {
    margin-left: 0;
  }
}
